/* Add this style for underlining on hover */
.crypto-address-text {
  cursor: pointer;
  display: inline-block;
}

.crypto-address-text:hover {
  text-decoration: underline;
}

/* Other styles remain unchanged */
body {
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  background-color: #282828ff;
  color: #ebdbb2ff;
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

.crypto-addresses {
  text-align: center;
  padding: 40px;
  border-radius: 10px;
  background-color: #32302fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.crypto-address {
  margin-bottom: 20px;
}

.crypto-address h1 {
  font-size: 2.5em;
  margin-bottom: 10px;
  color: #ed4733ff;
}

.crypto-address p {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.crypto-logo {
  font-size: 2em;
  margin-right: 10px;
  color: #ed4733ff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
