body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Inconsolata", monospace;
  background-color: #282828ff;
  color: #ebdbb2ff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  height: 100vh;
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
}

/* Circular Profile Picture Styles */
.profile-container {
  width: 150px; /* Adjust the size of your circular profile picture */
  height: 150px;
  overflow: hidden;
  border-radius: 50%; /* Creates the circular shape */
  background-color: #ebdbb2; /* Set the background color for padding */
  padding: 2.5px; /* Add more padding */
  margin-bottom: 300px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain image aspect ratio */
  border-radius: 50%; /* Keep the image circular */
  display: block; /* Remove extra spacing below the image */
}

.text-container {
  margin-left: 20px; /* Add margin to separate text from the profile picture */
  margin-top: -75px; /* Adjust this value to move the text up */
}

h1 {
  font-size: 4em; /* Adjust the font size of the name */
  margin-bottom: 5px;
}

p {
  font-size: 1.2em; /* Adjust the font size of the role */
  color: #ed4733ff;
}

a {
  color: #ed4733ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.about-me {
  max-width: 600px;
  margin: 20px auto;
  text-align: left;
  position: relative;
  z-index: 1; /* Add this line to set a higher z-index */
}

.about-me p {
  font-size: 1.2em;
  color: #ebdbb2ff;
}

.logos-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

.logos-container a {
  display: inline-flex;
  align-items: center;
  margin: 0 10px;
  transition: transform 0.3s;
}

.logos-container .discord-logo svg {
  width: 45px;
  height: 50px;
  fill: #ebdbb2ff;
}

.logos-container .github-logo svg {
  width: 50px;
  height: auto;
  fill: #ebdbb2ff;
}

.logos-container a:hover svg {
  fill: #ed4733ff;
  transform: scale(1.1);
}

.logos-container a:active svg {
  transform: scale(0.9);
}

.iframe-container {
  margin-top: 50px;
  text-align: center;
}

.Back {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 50px;
  padding: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
